@media (prefers-color-scheme: light) {
  :root {
    /* Light mode variables */
    --bulma-background-l: 96%;
    --bulma-border-l: 86%;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    /* Ignore dark mode */
    --bulma-background-l: 96%; /* Force light background */
    --bulma-border-l: 86%; /* Force light borders */
  }
}